[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
tensorflow = "*"
keras = "*"
opencv-python = "*"
pillow = "*"
bs4 = "*"
requests = "*"
pytrends = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
